.Navbar_root__chF4R{
  display: none !important;
}

.CommonLayout_root__WC_W1{
  display: block !important;
}

.VibeAnimation_root__UKMJy.VibeAnimation_root_visible__S7kXl.VibeBlock_vibeAnimation__XVEE6.undefined.VibeAnimation_enter_done__Oi2Kz{
  display: none !important;
}

.Skeleton_header__Ir5f4{
  display: none !important;
}

.MainPage_landing___FGNm{
  display: none !important;
}

.Footer_root__ugyur.Footer_important__mCXZp.MainPage_footer__2rGy2{
  display: none !important;
}
